dataset:
    name: helpsteer2_pairwise                   # 数据集名称（pairwise 版本）
    configs:
        type: local                       # 数据源类型: local/huggingface
        source: helpsteer2_pairwise       # 数据源标识符（需保证转换器已注册）
        path: examples/train/pairwise/preference.jsonl       # 数据文件路径（仅在local时生效）
    export:                               # 导出配置
        output_dir: ./examples/data/exports # 导出路径
        formats: ["parquet"]                # 支持格式: jsonl, parquet, json
        preserve_structure: true          # 控制数据导出时是否保持原始数据的目录结构
        split_ratio: {"train": 0.8, "test": 0.2} # 划分训练、测试集 